<!-- <% include ../partials/header %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <style>
        body{
            background-color:lightgray;
            
        }
        .front{
            text-align:center;
             /* padding:250px 205px; */
              text-decoration:none;
               padding-top:300px
        }
    </style>
</head>
<body>
    <div class="front">

    <a class="btn btn-primary active btn-lg" href="/campgrounds" >Click me </a>

    </div>
    



<% include ../partials/footer %>